@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root {
  font-family: 'Montserrat', sans-serif;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0d0d1c;
  
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-size: 1.2rem;
  text-align: center;
  justify-content: center ;
}

h1 {
  font-size: 2.em;
  line-height: 1.1;
}


